.login-page-container {
  padding-top: 6%;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  text-align: center;
  width: 200px;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container form input {
  margin: 5px 0px;
}

.login-btn {
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 5px;
  border-radius: 2rem;
  font-weight: bolder;
  margin: 0px 5px 0px 5px;
}

.login-error-message {
  text-align: center;
  position: absolute;
}

.registration-page-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
}

.registration-form-container {
  display: inherit;
  flex-direction: column;
}

.registration-form-container > h1 {
  margin-bottom: 1rem;
}

.registration-form {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.registration-form div {
  margin: 0.5rem 2rem 0.5rem 0rem;
}

.submit-btn {
  align-self: center;
}
