.login-page-container {
  padding-top: 6%;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  text-align: center;
  width: 200px;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container form input {
  margin: 5px 0px;
}

.login-btn {
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 5px;
  border-radius: 2rem;
  font-weight: bolder;
  margin: 0px 5px 0px 5px;
}

.login-error-message {
  text-align: center;
  position: absolute;
}
