.navbar {
  width: 95%;
  height: 75px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15%;
  padding-left: 30px;
  z-index: 1;
  position: fixed;
}

.logo {
  color: white;
  font-size: 3rem;
}

#search {
  border-radius: 0.5em;
  width: 20rem;
  height: 1.5rem;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid black;
}

#submit {
  margin-left: 10px;
  width: 6em;
  height: 1.5rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.points,
sell {
  color: white;
  margin: 0;
  padding: 0;
}

.sell {
  color: white;
  display: flex;
  align-items: center;
}

.sell-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.user-photo {
  height: 50px;
  border-radius: 50%;
}

.user-info-container {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
}

.points {
  font-weight: bolder;
}

.charge-container {
  position: absolute;
  width: 900px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  margin-right: 25%;
  margin-top: 45%;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.charge {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.charge p {
  margin: 0;
  font-size: 2rem;
}
.charge h1 {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 5%;
}

h2 {
  color: white;
  margin: 0 30px 0 0;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
