.navbar {
  width: 100%;
  height: 75px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed;
}

.logo {
  color: white;
  font-size: 3rem;
  margin-left: 20%;
}

#search {
  border-radius: 0.5em;
  width: 100%;
  height: 1.5rem;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid black;
}

.search-bar {
  position: fixed;
  left: 40%;
  top: 2.5%;
  z-index: 1;
  width: 20%;
}

/* #submit {
  margin-left: 10px;
  width: 6em;
  height: 1.5rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
} */

.points,
sell {
  color: white;
  margin: 0;
  padding: 0;
}

.sell {
  color: white;
  display: flex;
  align-items: center;
}

.sell-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.user-photo {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.user-info-container {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 2%;
}

.points {
  font-weight: bolder;
}

.charge-container {
  position: absolute;
  width: 50%;
  height: 500px;
  background-image: url("../../database/images/fill_up.jpg");
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 30%);
  border-radius: 10px;
  left: 24%;
  top: 180px;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 15px dashed #f26867;
  padding: 2% 2%;
}

.charge-container > h1 {
  position: inherit;
  top: 40px;
  font-size: 4rem;
  font-weight: bolder;
}

.charge {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #f26867;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  cursor: pointer;
}

.charge p {
  margin: 0;
  font-size: 2rem;
}
.charge h1 {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 5%;
}

.nav-button {
  color: white;
  margin: 0 30px 0 0;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.category-nav-bar span {
  font-size: large;
  margin: 0px 5px 0px 5px;
  font-weight: 300;
  cursor: pointer;
}

.category-nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.highlighted {
  color: white;
  background-color: black;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-weight: bold;
}

.none {
  color: black;
  background-color: white;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

/* =========MOBILE=========== */

.mobile-logo {
  color: white;
  font-size: 2rem;
  margin-left: 20%;
}

.mobile-nav-button {
  color: white;
  margin: 0 30px 0 0;
  font-size: 1.3rem;
}
