# always-auth=true
# registry=https://npm.greensock.com
# //npm.greensock.com/:_authToken=${f0da602e-eaa7-4727-a847-e4ccc4609be7}

//npm.greensock.com/:_authToken=<f0da602e-eaa7-4727-a847-e4ccc4609be7>
@gsap:registry=https://npm.greensock.com