.sell-form-container {
  top: 15%;
  left: 35%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 35%;
  /* border: 10px dashed #f26867; */
  padding-top: 20px;
  opacity: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.sell-form-container > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  width: 80%;
}

.sell-form-container div {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.sell-form-container label {
  display: inherit;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: start;
}

.sell-submit-button {
  background-color: black;
  border: 1px solid black;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 3rem;
  font-weight: bold;
}

.sell-background {
  height: 100vh;
  background-image: url("../../database/images/sell-background.png");
}
