.info-page-container {
  left: 20%;
  padding-top: 100vh;
  position: absolute;
  height: 250vh;
  width: 70%;
  display: block;
  z-index: -1;
  overflow: hidden;
}

.info-page-container h1 {
  left: -20%;
  width: 100%;
  margin-bottom: 50px;
}

.info-description {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}

.info-description p {
  margin-bottom: 0px;
  height: 300px;
}

.boy-with-lighter {
  height: 650px;
  position: absolute;
  right: 0%;
  top: 900px;
}

.dollar-sign {
  height: 120px;
  position: absolute;
  top: 1000px;
  right: 6%;
}

.info-page-how-it-works {
  position: absolute;
  top: 700px;
  transform: translate(370px, 0px);
}

.info-1 {
  position: absolute;
  top: 30%;
}

.info-2 {
  top: 45%;
  position: absolute;
}

.info-3 {
  top: 63%;
  position: absolute;
  right: 10%;
}

.ticket-info-group {
  top: 52%;
  left: 0%;
  position: absolute;
  transform: scale(50%);
  display: flex;
  flex-direction: row;
}

.take-ticket-f {
  position: absolute;
  top: 2000px;
  transform: scale(150%);
  z-index: -1;
}

.info-4 {
  top: 2600px;
  position: absolute;
}

.happy-girl {
  position: absolute;
  top: 2750px;
  transform: scale(180%);
  right: 0%;
}

.box {
  position: absolute;
  top: 2430px;
  transform: scale(35%);
}

.start {
  position: absolute;
  top: 3200px;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 100%;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 2px;
}

.copyright > p {
  font-size: small;
  color: gray;
}
