.info-page-container {
  left: 20%;
  padding-top: 100vh;
  position: absolute;
  height: 260vh;
  width: 70%;
  display: block;
  z-index: -1;
  overflow: hidden;
}

.info-page-container h1 {
  left: 0%;
  width: 100%;
  margin-bottom: 50px;
}

.info-description {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}

.info-description p {
  margin-bottom: 0px;
  height: 300px;
}

.boy-with-lighter {
  height: 650px;
  position: absolute;
  right: 0%;
  top: 900px;
}

.dollar-sign {
  height: 120px;
  position: absolute;
  top: 1000px;
  right: 6%;
}

.dollar-sign2 {
  height: 120px;
  position: absolute;
  top: 47%;
  left: 50%;
}

.info-page-how-it-works {
  position: absolute;
  top: 700px;
}

.info-1 {
  position: absolute;
  top: 30%;
}

.info-2 {
  top: 45%;
  position: absolute;
}

.info-3 {
  top: 63%;
  position: absolute;
  right: 10%;
}

.ticket-info-group {
  top: 40%;
  left: 38%;
  position: absolute;
  transform: scale(50%) rotate(90deg);
  width: 30%;
}

.ticket-info-group img {
  margin: 100px;
}

.take-ticket-f {
  position: absolute;
  top: 55%;
  transform: scale(150%);
  z-index: -1;
}

.info-4 {
  top: 72%;
  position: absolute;
}

.happy-girl {
  position: absolute;
  top: 78%;
  transform: scale(180%);
  right: 0%;
}

.box {
  position: absolute;
  top: 68%;
  transform: scale(35%);
}

.start {
  position: absolute;
  top: 3200px;
}

.copyright {
  position: absolute;
  bottom: 10px;
  left: 5%;
  width: 80%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyright > p {
  font-size: small;
  color: gray;
  line-height: 0;
  text-align: center;
}

.ticket-info-4 {
  position: absolute;
  transform: rotate(115deg) scale(0.15);
  top: 49.7%;
  left: 70px;
}

/* ============MOBILE============== */

.mobile-info-page-container {
  position: absolute;
  height: 320vh;
  width: 90%;
  display: block;
  z-index: -1;
  overflow: hidden;
  padding-top: 500px;
}

.mobile-info-page-how-it-works {
  position: absolute;
  font-size: 3rem;
  width: 100%;
}

.mobile-info-1 {
  position: absolute;
  top: 20%;
}

.mobile-boy-with-lighter {
  width: 100%;
  position: absolute;
  right: 0%;
  top: 25%;
}

.mobile-dollar-sign {
  height: 70px;
  position: absolute;
  top: 26%;
  right: 8%;
}

.mobile-info-2 {
  top: 35%;
  position: absolute;
}

.mobile-dollar-sign2 {
  height: 70px;
  position: absolute;
  top: 41%;
  left: 45%;
}

.mobile-ticket-info-group {
  top: 35%;
  left: 35%;
  position: absolute;
  transform: scale(30%) rotate(90deg);
  width: 30%;
}

.mobile-ticket-info-group img {
  margin: 50% 0 0 0;
}

.mobile-info-3 {
  top: 50%;
  position: absolute;
  right: 10%;
}

.mobile-take-ticket-f {
  position: absolute;
  left: 0%;
  top: 56%;
  z-index: -1;
}

.mobile-ticket-info-4 {
  position: absolute;
  transform: rotate(115deg) scale(0.12);
  top: 52.5%;
  left: 10px;
}

.mobile-info-4 {
  top: 70%;
  position: absolute;
}

.mobile-happy-girl {
  position: absolute;
  top: 76%;
  left: 35%;
}

.mobile-box {
  position: absolute;
  left: -130%;
  top: 70%;
  transform: scale(20%);
}

.mobile-start {
  position: absolute;
  left: -55%;
  top: 95%;
}

.mobile-copyright {
  bottom: 10px;
  left: 5%;
  width: 100%;
}

.mobile-copyright > p {
  font-size: small;
  color: gray;
}
