.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 15%;
  transition: 0.5s;
  padding-top: 8%;
}

.product-image {
  height: 200px;
  width: auto;
  object-fit: cover;
  border-radius: 0.5em;
}

.big-card h3,
.card h3 {
  margin: 0.5em;
  max-height: 40px;
  min-height: 40px;
}

.card p {
  min-height: 40px;
  max-height: 40px;
}

.target-price .tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tickets {
  font-weight: bolder;
}

span.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 325px;
  height: 400px;
  opacity: 0;
  transition: 0.5s;
  background-color: white;
  border: 0.01px solid rgb(241, 241, 241);
}

span.card:hover {
  border: 0.01px solid #f26867;
  transition: 0.2s;
}

.big-card {
  background-color: white;
  position: fixed;
  width: 60%;
  height: 60%;
  margin-top: 1%;
  display: flex;
  padding: 3rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  border: 10px solid #f26867;
}

.big-card h3 {
  font-size: 2rem;
}

.big-card div strong {
  margin: 10px;
}

.big-card img {
  height: 350px;
}

.clickEvent {
  z-index: 2;
}

.buy-ticket-picture {
  transform: rotate(90deg) translate(120px, 700px) scale(90%);
  position: absolute;
  transition: 0.5s;
  animation: 1s slide-up;
}

.buy-ticket-picture:hover {
  transform: rotate(90deg) translate(100px, 700px) scale(90%);
  transition: 0.5s;
  transition-delay: 150ms;
}

@keyframes slide-up {
  from {
    transform: rotate(90deg) translate(1000px, 700px) scale(90%);
  }
  to {
    transform: rotate(90deg) translate(120px, 700px) scale(90%);
  }
}
