.welcome-page-container {
  font-size: 3rem;
  width: 100vw;
  margin: 0px 0px 0px 20%;
  display: flex;
  padding-top: 5%;
}

.welcome-page-container h1 {
  width: 550px;
  display: inline-flex;
  margin: 80px 0 0 0;
}

.welcome-page-container p {
  font-size: 1.5rem;
  width: 400px;
  font-weight: bolder;
  text-align: left;
}

.welcome-page-container button {
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 12px;
  border-radius: 2rem;
  font-weight: bolder;
  margin: 0px 5px 0px 5px;
}

.welcome-page-container button:hover {
  background-color: rgb(78, 78, 78);
  border: 1px solid rgb(78, 78, 78);
}

.welcome-ticket-image-1 {
  position: absolute;
  transform: rotate(40deg) scale(115%);
  top: 40%;
  left: 60%;
}

.welcome-ticket-image-2 {
  position: absolute;
  transform: rotate(25deg) scale(115%);
  top: 43%;
  left: 60%;
}

.welcome-ticket-image-3 {
  position: absolute;
  transform: rotate(10deg) scale(115%);
  top: 46%;
  left: 60%;
}

.welcome-page-background {
  background-image: url(../../database/images/circus-wallpaper.jpeg);
  width: 3000px;
  height: 1000px;
  position: absolute;
  z-index: -1;
  left: 0%;
  transform: scale(120%);
  overflow-x: hidden;
  opacity: 90%;
}

.scroll-down {
  position: fixed;
  left: 45%;
  bottom: 0%;
}

/* =========MOBILE============= */

.mobile-welcome-container {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  height: 100vh;
  z-index: -5;
  padding-top: 18%;
}

.mobile-welcome-container h1 {
  width: 80%;
  display: inline-flex;
  margin: 80px 0px 0px 10%;
}

.mobile-welcome-container p {
  font-size: 1.3rem;
  width: 80%;
  font-weight: bolder;
  text-align: left;
  margin: 20px 10px 10px 10%;
}

.mobile-welcome-container button {
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 12px;
  border-radius: 2rem;
  font-weight: bolder;
  margin: 0px 5px 0px 5px;
}

.mobile-welcome-page-background {
  background-image: url(../../database/images/circus-wallpaper.jpeg);
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0%;
  overflow-x: hidden;
  opacity: 90%;
}

.mobile-scroll-down {
  position: fixed;
  left: 25%;
  bottom: 0%;
}

.mobile-page-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url(../../database/images/circus-wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: 300%;
  z-index: -10;
}
