.filter-bar {
  position: fixed;
  width: 200px;
  height: 70vh;
  background-color: royalblue;
}

.filter-background {
  position: fixed;
  width: 200px;
  height: 120vh;
  background-color: royalblue;
  transform: translateY(-80px);
  z-index: -1;
}

.form {
  margin-top: 3rem;
}

select {
  margin-bottom: 2em;
  width: 150px;
}
