.filter-bar {
  position: fixed;
  width: 200px;
  height: 70vh;
  background-color: royalblue;
}

.filter-background {
  position: fixed;
  width: 200px;
  height: 120vh;
  background-color: royalblue;
  transform: translateY(-80px);
  z-index: -1;
}
