.profile-page-container {
  display: flex;
  justify-content: center;
}

.profile-info-container {
  padding-top: 100px;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info-container > span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  color: black;
}

.profile-nav-bar-category-selector-container {
  width: 1000px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.profile-card-container {
  max-width: 1500px;
  height: 700px;
  border: 1px solid black;
  display: flex;
}

.profile-card-user-picture {
  display: flex;
  justify-content: center;
}

.profile-card-user-picture > img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 50px 0px 30px 0px;
}

.profile-card-user-container {
  display: flex;
  min-width: 33%;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid black;
  margin: 15px;
  /* border: 1px solid black; */
}

.log-out-button {
  background-color: black;
  border: 1px solid black;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 3rem;
  font-weight: bold;
  cursor: pointer;
}

.profile-card-user-info {
  height: 60%;
  text-align: center;
}

.bid-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  width: 800px;
}

.bid-items-container > div {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.account-container {
  width: 800px;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  overflow-y: scroll;
}

.account-container p {
  font-size: 1.2rem;
}

.account-container h2 {
  line-height: 0;
}

.account-container > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5%;
  margin-left: 10%;
}

.selected {
  background-color: black;
  color: white;
}

.edit-info {
  display: flex;
  align-items: center;
}

.edit-info-button {
  justify-self: center;
  width: 85%;
}

.verified {
  padding: 0 30px;
  border-radius: 1rem;
  background-color: #f26867;
  color: white;
  font-size: large;
  font-weight: bolder;
  line-height: 0;
}

.profile-info-container-tab {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.profile-info-container-tab > div {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7%;
}

.profile-info-container-tab h2 {
  line-height: 0;
}

.user-ratings {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

.star-rating p {
  line-height: 20px;
}

.verified {
  align-self: center;
  justify-self: flex-end;
}

.profile-info-container-tab p {
  font-size: 1.2rem;
}

.bid-items-container > div::-webkit-scrollbar {
  display: none;
}

.account-container::-webkit-scrollbar {
  display: none;
}

.seller-item-card {
  /* background-color: white; */
  justify-self: center;
  width: 100%;
  height: 100px;
  margin: 10px;
}

.bid-items-container .hidden {
  display: none;
}

.bid-items-container h1 {
  margin: 15px 0px;
}

.seller-product-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 100%;
  transition: 0.2s;
  overflow: hidden;
}

.winner-text {
  height: 100%;
  font-size: 1.1rem;
  font-weight: bolder;
  color: black;
  text-align: center;
  margin-left: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 0;
}

.loser-text {
  height: 100%;
  font-size: 1.1rem;
  font-weight: bolder;
  color: black;
  text-align: center;
  margin-left: 0px;
  background-color: rgba(125, 125, 125, 0.75);
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 0;
}

.seller-product-preview:hover {
  transition: 0.2s;
  border-bottom: 3px solid #f26867;
}

.seller-product-title {
  width: 30%;
  height: 100%;
  background-color: #f26867;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  padding: 10px;
}

.seller-product-title > h3 {
  top: 0;
}

.seller-product-description {
  width: 70%;
  height: 100%;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100px;
  background-color: white;
  position: absolute;
  opacity: 70%;
}

.seller-product-description-text {
  height: 100%;
  font-size: 1.1rem;
  font-weight: bolder;
  color: black;
  text-align: center;
  margin-left: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  line-height: 0;
}

.profile-picture-overlay {
  opacity: 1;
}

.hidden-card {
  opacity: 0;
  display: none;
}

.ranking {
  display: flex;
  justify-content: space-around;
}

.buyer-seller-selector-container {
  left: 0;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  margin-top: 1%;
}

.buyer-seller-selector-container div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.buyer-seller-selector-container div:hover {
  background-color: black;
  color: white;
}

.buyer-seller-selector-container span {
  font-size: large;
  margin: 0px 5px 0px 5px;
  font-weight: 300;
}

.seller-page-delete-product {
  width: 80px;
  height: 100px;
  border: 1px solid #f26867;
  background-color: #f26867;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.review-container {
  margin-top: 20px;
}

.reviews {
  width: 100%;
  min-height: 185px;
  margin-right: 16px;
  overflow-y: scroll;
  border-top: 1px solid black;
}

.review-cards {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

/* Buyer Modal for winner info */

.winner-modal p {
  margin: 0;
}
.winner-modal > h2 {
  margin: 0;
}

.winner-modal {
  height: 40%;
  max-width: 15%;
  position: absolute;
  right: -1%;
  top: 30%;
  background-color: white;
  border: 5px solid #f26867;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5% 1.5% 0.8% 0.8%;
}
.winner-profile-picture {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.contact-winner-button {
  background-color: #f26867;
  border: 1px solid #f26867;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 3rem;
  font-weight: bold;
  opacity: 50%;
  cursor: pointer;
}
.log-out-button:hover {
  opacity: 0.8;
}
