.profile-page-container {
  display: flex;
  justify-content: center;
}

.profile-info-container {
  padding-top: 6%;
  /* background-color: blue; */
  width: 1500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  color: black;
}

.profile-nav-bar-category-selector-container {
  width: 1000px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.profile-nav-bar-category-selector-container span {
  height: 30px;
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.profile-nav-bar-category-selector-container span:hover {
  background-color: black;
  opacity: 100%;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

/* .profile-page-navbar-background {
  position: absolute;
  width: 1000px;
  height: 30px;
  background-color: white;
  opacity: 25%;
} */

.profile-card-container {
  width: 90%;
  height: 700px;
  border: 1px solid black;
  display: flex;
}

.profile-card-user-picture > img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 50px 0px 30px 0px;
}

.profile-card-user-container {
  display: flex;
  width: 35%;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid black;
  margin: 15px;
  /* border: 1px solid black; */
}

.profile-card-user-info {
  height: 60%;
}

.bid-items-container {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

.bid-items-container > div {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.bid-items-container > div::-webkit-scrollbar {
  display: none;
}

.seller-item-card {
  /* background-color: white; */
  justify-self: center;
  width: 100%;
  height: 100px;
  margin: 10px;
}

.bid-items-container .hidden {
  display: none;
}

.bid-items-container h1 {
  margin: 15px 0px;
}

.seller-product-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 100%;
  transition: 0.2s;
  overflow: hidden;
}

.seller-product-preview:hover {
  transform: scale(1.02) translate(3px, 0px);
  transition: 0.2s;
}

.seller-product-title {
  width: 30%;
  height: 100%;
  background-color: #f26867;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  padding: 10px;
}

.seller-product-title > h3 {
  top: 0;
}

.seller-product-description {
  width: 70%;
  height: 100%;
  overflow: hidden;
}

.seller-product-description > .overlay {
  width: 100%;
  height: 100px;
  background-color: white;
  position: relative;
  opacity: 70%;
}

.seller-product-description-text {
  position: relative;
  font-size: 1.1rem;
  font-weight: bolder;
  color: black;
  top: -100px;
  text-align: start;
  margin-left: 10px;
  line-height: 0.6rem;
}

.profile-picture-overlay {
  opacity: 1;
}
